<style>
p{

}
  a{
    color:green;
    font-size: 20px;
  }
  h1{

  }
  h2{
    color:yellow;
    background-color: orange;
    display: inline-flex;
    margin:10px;
    padding: 7px;

  }
  .top{
    font-size:45px;
    border: 5px tomato dashed;
    text-align: center;
    padding: 15px;
    margin:25px;
    color:pink;

  }
  body {
  background-image: url("111.jpg");
  background-repeat: repeat-x;
  background-position: center;
  background-attachment:fixed;

}
</style>
